<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidstudy.toolbarscrollviewexample">

    <!-- INTERNET uses-permission 추가 : 안드로이드 앱 http 통신 허용 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 전화 걸기 권한을 추가해 줍니다 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 재생중 화면 어두워짐, 잠김 방지하기 위한 권한 추가 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 안드로이드앱 구글맵 연결 권한 설정 : 아래 3줄 소스 추가 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 중요 : http는 https에 비해 보안 수준이 약하기 때문에 http 주소 이용을 위해
         별도의 permission 설정이 필요합니다. 그래서, 다음과 같이
         AndroidManifest.xml 파일 안에 application 태그에서
         android:usesCleartextTraffic="true"로 설정하면
         모든 Http 주소에 접근할 수 있습니다. -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToolbarScrollViewExample">

        <!--  SignUpActivity 처리 클래스 추가-->
        <activity android:name=".SignUpActivity"></activity>

        <!--  SignUpSuccess 처리 클래스 추가-->
        <activity android:name=".SignUpSuccess"></activity>

        <!--  WebViewCallActivity 처리 클래스 추가-->
        <activity android:name=".WebViewCallActivity"></activity>
        <!-- AboutActivity 처리 클래스 추가 -->
        <!-- AdapterViewActivity 처리 클래스 추가 -->
        <activity android:name=".AdapterViewActivity"></activity>
        <!-- LocationActivity 처리 클래스 추가 -->
        <activity android:name=".LocationActivity"></activity>


        <!--        로그인 화면이 있는 테스트용 LoginActivity 처리 클래스 추가-->
<!--        <activity android:name=".LoginActivity"></activity>-->

<!--        <activity android:name=".SignUpSuccess">-->
            <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="이 자리에 구글맵 키값을 넣어주시기 바랍니다"/>

    </application>

</manifest>